.checklist {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.checklist.visible {
  opacity: 1;
  max-height: 500px;
  transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
}

.checklist.hidden {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.8s ease-in, max-height 0.8s ease-in;
}


.check-item {
  display: flex;
  align-items: center;
  color: red;
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.check-item .icon {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.check-item.passed {
  color: green;
  font-weight: bold;
}

.check-item.passed .icon {
  transform: scale(1.2);
}
